{% extends "ancient/base.html" %}

{% block content %}
    <div class="container-fluid span12">
        <div class="hero-unit">
            <h3>Purpose:</h3>
            <span>Run AncientArena in  </span>
            <a href="http://vk.com/siege">Siege!</a>
            <br>
            <br>
            <h3>Authors:</h3>
            {% for author in authors %}
            <address>
                <strong>{{ author.0 }}</strong>
                <br>
                <span>{{ author.2 }}</span>
                <br>
{#                <a href="mailto:{{ author.1 }}">{{ author.1 }}</a>#}
            </address>
            {% endfor %}
        </div>
    </div>

{% endblock %}
