{% extends "base.html" %}
{#{% load staticfiles %}#}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                {% if not rating_count %}
                    {% if error %}
                        <div class="alert alert-error">
                            <button class="close" data-dismiss="alert" type="button">×</button>
                            <h4>Error!</h4>
                            {{ message }}
                        </div>
                    {% endif %}
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        <input name="uid" type="text" placeholder="Enter uid">
                        <input name="auth" type="text" placeholder="Enter auth key">
                        <button name="connect" type="submit" class="btn btn-success">Connect</button>
                    </form>
                {% else %}
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="alert alert-success" role="alert">{{ uid }}
                            {% if is_run %}
                                <span style="margin-left: 15em">Next activity after: {{ left_time }} second(s)</span>
                            {% endif %}
                        </div>
                        <table class="table" class="display">
                            <tbody>
                            <tr>
{#                                <td><img src="{% static "img/krone.jpg" %}" width="30px" height="30px" alt="money"></td>#}
{#                                <td><img src="/static/img/krone.jpg" width="30px" height="30px" alt="money"></td>#}
                                <td>money</td>
                                <td>{{ money_count }}</td>
{#                                <td><img src="{% static "img/gold.jpg" %}" width="30px" height="30px" alt="gold"></td>#}
                                <td>gold</td>
                                <td>{{ gold_count }}</td>
                            </tr>
                            <tr>
{#                                <td><img src="{% static "img/c_food.jpg" %}" width="30px" height="30px" alt="food"></td>#}
                                <td>food</td>
                                <td>{{ food_count }}</td>
{#                                <td><img src="{% static "img/diamonds.jpg" %}" width="30px" height="30px" alt="diamonds"></td>#}
                                <td>diamonds</td>
                                <td>{{ diamonds_count }}</td>
                            </tr>
                            <tr>
{#                                <td><img src="{% static "img/fuel.jpg" %}" width="30px" height="30px" alt="fuel"></td>#}
                                <td>fuel</td>
                                <td>{{ fuel_count }}</td>
{#                                <td><img src="{% static "img/rating.jpg" %}" width="30px" height="30px" alt="rating"></td>#}
                                <td>rating</td>
                                <td>{{ rating_count }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <select name="timer" class="selectpicker">
                            {% for timer in timeout %}
                                {% if timer.selected %}
                                    <option selected value={{ timer.data }}>{{ timer.value }}</option>
                                {% else %}
                                    <option value={{ timer.data }}>{{ timer.value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if is_run %}
                            <button type="submit" name="start" class="btn btn-success" disabled>Start</button>
                            <button type="submit" name="stop" class="btn btn-danger">Stop</button>
                        {% else %}
                            <button type="submit" name="start" class="btn btn-success">Start</button>
                            <button type="submit" name="stop" class="btn btn-danger" disabled>Stop</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}




